* {
  margin: 0;
  box-sizing: border-box;
}

header {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: antiquewhite;
  height: 50px;
}
nav {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}
nav > a {
  text-decoration: none;
  color: black;
  font-weight: 800;
}


main {
  background-color:aliceblue;
  height: 100%;
  padding: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.sidebar-container {
  visibility: collapse;
}